In [1]:
from datetime import datetime, timedelta
from features import feature_engineering

In [2]:
start_date = datetime(2015, 1, 1)
end_date = datetime.today() - timedelta(days=1)

In [3]:
btc = feature_engineering.prepare_data(start_date=start_date, end_date=end_date)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
c:\Users\hubak\Desktop\mlopsproject\features\feature_engineering.py:129: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged[f'close{column_suffix}'].fillna(method='ffill', inplace=True)
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
c:\Users\hubak\Desktop\mlopsproject\features\feature_engineering.py:129: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged[f'close{column_suffix}'].fillna(method='ffill', inplace=True)
c:\Users\hubak\Desktop\mlopsproject\features\feature_engineering.py:129: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged[f'close{column_suffix}'].fillna(method='ffill', inplace=True)
c:\Users\hubak\Desktop\mlopsproject\features\feature_engineering.py:165: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged['hash_rate'].fillna(method='ffill', inplace=True)

In [5]:
btc.head()

,date,open,high,low,close,volume,ma7,ma21,bollinger_upper,bollinger_lower,lag7,volatility,close_usd_index,close_oil,close_gold,hash_rate,id
3,2015-01-24,232.7000,248.2100,230.0220,247.8470,24782500,225.3634,242.8530,312.1796,173.5264,199.2600,13.9189,95.0000,45.5900,1292.6000,264487.0244,1
4,2015-01-25,247.3520,255.0740,243.8900,253.7180,33582700,231.5604,242.3541,311.1846,173.5235,210.3390,15.6623,95.0000,45.5900,1292.6000,264487.0244,2
5,2015-01-26,254.0790,309.3840,254.0790,273.4730,106794000,239.9336,242.3064,311.0449,173.5680,214.8610,20.2438,94.8000,45.1500,1279.4000,264487.0244,3
6,2015-01-27,273.1670,275.4800,250.6530,263.4750,44399000,247.3850,241.2248,307.7421,174.7075,211.3150,17.3464,94.0200,46.2300,1291.7000,264487.0244,4
7,2015-01-28,263.3510,266.5350,227.0460,233.9150,44352200,248.3876,238.3476,300.2853,176.4098,226.8970,16.1247,94.4700,44.4500,1285.9000,324166.3390,5

In [6]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3412 entries, 3 to 3414
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             3412 non-null   datetime64[ns]
 1   open             3412 non-null   float64
 2   high             3412 non-null   float64
 3   low              3412 non-null   float64
 4   close            3412 non-null   float64
 5   volume           3412 non-null   int64
 6   ma7              3412 non-null   float64
 7   ma21             3412 non-null   float64
 8   bollinger_upper  3412 non-null   float64
 9   bollinger_lower  3412 non-null   float64
 10  lag7             3412 non-null   float64
 11  volatility       3412 non-null   float64
 12  close_usd_index  3412 non-null   float64
 13  close_oil        3412 non-null   float64
 14  close_gold       3412 non-null   float64
 15  hash_rate        3412 non-null   float64
 16  id               3412 non-null   int64
dtypes: datetime64[ns](1), float64(14), int64(2)
memory usage: 479.8 KB

In [7]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

C:\Users\hubak\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/556181
Connected. Call `.close()` to terminate connection gracefully.

In [8]:
btc_analysis_fg = fs.get_or_create_feature_group(
    name='bitcoin_analysis',
    description='Historical data about features that help to predict the price of Bitcoin',
    version=1,
    primary_key=['id'],
    event_time='date'
)

btc_analysis_fg.insert(btc)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/556181/fs/552004/fg/857442

Uploading Dataframe: 100.00% |██████████| Rows 3412/3412 | Elapsed Time: 00:08 | Remaining Time: 00:00

Launching job: bitcoin_analysis_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/556181/jobs/named/bitcoin_analysis_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x1d96f7e2b90>, None)