In [1]:
from datetime import datetime
from features import feature_engineering

In [2]:
start = datetime(2015, 1, 1)
end = datetime.now().date().isoformat()

In [3]:
btc = feature_engineering.process_bitcoin_data(start=start, end=end)

[*********************100%%**********************]  1 of 1 completed

In [4]:
btc.tail()

,timestamp,date,open,high,low,volume,close,tomorrow
3408,1714514400000,2024-05-01,60609.496094,60780.500000,56555.292969,4.843978e+10,58254.011719,59123.433594
3409,1714600800000,2024-05-02,58253.703125,59602.296875,56937.203125,3.271181e+10,59123.433594,62889.835938
3410,1714687200000,2024-05-03,59122.300781,63320.503906,58848.312500,3.317202e+10,62889.835938,63891.472656
3411,1714773600000,2024-05-04,62891.031250,64494.957031,62599.351562,2.062048e+10,63891.472656,64031.132812
3412,1714860000000,2024-05-05,63892.453125,64610.890625,62955.304688,1.829616e+10,64031.132812,NaN

In [5]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3413 entries, 0 to 3412
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  3413 non-null   int64
 1   date       3413 non-null   object
 2   open       3413 non-null   float64
 3   high       3413 non-null   float64
 4   low        3413 non-null   float64
 5   volume     3413 non-null   float64
 6   close      3413 non-null   float64
 7   tomorrow   3412 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 213.4+ KB

In [6]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

C:\Users\hubak\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/556181
Connected. Call `.close()` to terminate connection gracefully.

In [7]:
btc_price_fg = fs.get_or_create_feature_group(
    name='bitcoin_price',
    description='Bitcoin price historical data',
    version=2,
    primary_key=['date', 'timestamp'],
    online_enabled=True,
    event_time='timestamp'
)

btc_price_fg.insert(btc)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/556181/fs/552004/fg/786780

Uploading Dataframe: 100.00% |██████████| Rows 3413/3413 | Elapsed Time: 00:07 | Remaining Time: 00:00

Launching job: bitcoin_price_2_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/556181/jobs/named/bitcoin_price_2_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x1c3ac703a90>, None)